<nav class="navbar navbar-expand-lg bg-body-light border-bottom mb-3 sticky-top">
  <div class="container-fluid">
    <!-- Logo / Brand -->
    <a class="navbar-brand d-flex align-items-center" href="/Listings">
      <i class="fa-solid fa-compass me-2"></i> <span class="fw-bold">Airbnb Clone</span>
    </a>

    <!-- Toggle button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Left nav links -->
      <div class="navbar-nav">
        <a class="nav-link" href="/Listings">Explore</a>
      </div>

      <!-- Right nav links -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/Listings/new">Airbnb your home</a>

        <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } else { %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
